[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
imageio = "*"
scipy =  "*"
numpy =  "*"
#urllib="*"
#tarfile  = "*"
#shutil  = "*"
matplotlib  = "*"
sklearn  = "*"
torch  = "*"
torchvision  = "*"
#cudatoolkit ="10.2.89"

[dev-packages]

[requires]
python_version = "3.8"
